

# Do to copyright issuses, I don’t include PDFs
/Articles/*.pdf
/Articles/_old/*.pdf
/Articles/*.alias
/Articles/_old/*.alias

# Do not include temporary latex files
/Latex/*.aux
/Latex/*.bbl
/Latex/*.blg
/Latex/*.log
/Latex/*.synctex.gz
/Latex/*.toc
/Presentation/*.aux
/Presentation/*.bbl
/Presentation/*.blg
/Presentation/*.log
/Presentation/*.synctex.gz
/Presentation/*.toc
/Presentation/*.snm
/Presentation/*.out
/Presentation/*.nav